<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout2">

<section layout:fragment="content">

	<div th:if="${info}">
		<h2 th:text="${info}">inf</h2>

	</div>
	<div class="row">
		<div class="col">
			<div class="card" align="center">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th>User name and email</th>
							<th>Description</th>
							<th colspan=2 style="align:center">Action</th>
						</tr>
					</thead>
					<th:block th:each="req,iterStat : ${rList}">

						<tr>
							<td th:text="${iterStat.count}">Id</td>
							<td><a th:href="@{'/admin/user/{id}'(id=${req.user.id})}"
								th:text="${req.user.firstName}+' '+${req.user.lastName}+' '+${req.user.email}">User
									(name, email)</a></td>
							<td th:text="${req.description}">description</td>
							<div
								th:if="${req.user.ownerReq == true and req.description == 'I want to become an owner.'}">
							<td><form method="POST"
									th:action="@{'/admin/request/owner/{id}' (id=${req.id})}">
									<button type="submit" name="submit" value="value"
										class="nav-link">Accept</button>
								</form></td>
							<td><form method="POST"
									th:action="@{'/admin/request/owner/reject/{id}' (id=${req.id})}">
									<button type="submit" name="submit" value="value"
										class="nav-link">Reject</button>
								</form></td>
							</div>
							<div
								th:if="${req.user.enableReq == true and req.description == 'I want to get enabled.'}">
							<td><form method="POST"
									th:action="@{'/admin/request/enable/{id}' (id=${req.id})}">
									<button type="submit" name="submit" value="value"
										class="nav-link">Accept</button>
								</form></td>
							<td><form method="POST"
									th:action="@{'/admin/request/enable/reject/{id}' (id=${req.id})}">
									<button type="submit" name="submit" value="value"
										class="nav-link">Reject</button>
								</form></td>
							</div>
							<div
								th:if="${req.user.managerReq == true and req.description == 'I want to become a manager.'}">
							<td>
								<form method="POST"
									th:action="@{'/admin/request/manager/{id}' (id=${req.id})}">
									<button type="submit" name="submit" value="value"
										class="nav-link">Accept</button>
								</form>
							</td>
							<td><form method="POST"
									th:action="@{'/admin/request/manager/reject/{id}' (id=${req.id})}">
									<button type="submit" name="submit" value="value"
										class="nav-link">Reject</button>
								</form></td>
							</div>
						</tr>
					</th:block>
				</table>
			</div>
		</div>
	</div>
</section>
</html>